version: "3.8"

services:
  db:
    image: postgres:15
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - 5433:5432
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - backend

  redis:
    image: redis:7
    container_name: redis
    restart: always
    command: ["redis-server", "--requirepass", "${REDIS_PASSWORD}"]
    ports:
      - 6379:6379
    volumes:
      - redis_data:/data
    networks:
      - backend

  app:
    image: omidocker18/stockhub-server
    container_name: stockhub-server
    restart: always
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}?schema=public
      - SESSION_SECRET=${SESSION_SECRET}
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - REDIS_PASSWORD=${REDIS_PASSWORD}
      - SESSION_NAME=${SESSION_NAME}
      - SESSION_DOMAIN=${SESSION_DOMAIN}
      - SESSION_MAX_AGE=${SESSION_MAX_AGE}
      - SESSION_HTTP_ONLY=${SESSION_HTTP_ONLY}
      - SESSION_SECURE=${SESSION_SECURE}
      - SESSION_FOLDER=${SESSION_FOLDER}
      - COOKIE_SECRET=${COOKIE_SECRET}
      - ALLOWED_ORIGIN=${ALLOWED_ORIGIN}
      - APPLICATION_PORT=${APPLICATION_PORT:-3000}
      - MAIL_HOST=${MAIL_HOST}
      - MAIL_PORT=${MAIL_PORT}
      - MAIL_LOGIN=${MAIL_LOGIN}
      - MAIL_PASSWORD=${MAIL_PASSWORD}
      - MAIL_FROM=${MAIL_FROM}
    depends_on:
      - db
      - redis
    networks:
      - backend

volumes:
  postgres_data:
  redis_data:

networks:
  backend: